<nav>
  <ul class="nav--list">
    <li class="nav--listItem">
      <a href="/">Books</a>
    </li>
    <li class="nav--listItem">
      <a href="/add-book">Add Books</a>
    </li>
    <li class="nav--listItem">
      <a href="/search">Search</a>
    </li>
    <li class="nav--listItem">
      <a href="/login">Login</a>
    </li>
  </ul>
</nav>
