html {
    font-size: 62.5%;
}

main {
    width: 100%;
}

main .addBook {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 1.9rem;
  

}

.addBook label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(30, 76, 76);
}

.addBook input,
.addBook textarea {
    padding: 1rem;
    margin: .3rem auto;
    border-radius: .3rem;
    width: 100%;
    border: .1rem solid rgb(94, 79, 78);
}

.addBook input:focus,
.addBook textarea :focus{
    border-color: rgb(139, 82, 76);
}

.addBook button{
    margin: 0 auto;
    border-radius: .3rem;
    text-transform: uppercase;
    color: white;
    background: rgb(24, 26, 183);
    padding: 1rem 2rem;
    border-style: none;
    transition: all 400ms;
}

.addBook button:hover{
    cursor: pointer;
    transform: translateY(3px);
}

main .searchForm{
    margin-top: 3rem;
}