html {
    font-size: 62.5%;
}

main {
    width: 100%;
}

.bookContainer .card {
    border: .2rem solid rgb(34, 91, 91);
    margin: .5rem 0;
    padding: 1rem;
}

header .book__title {
    font-size: 1.9rem;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(43, 180, 31);
}

div .book__author {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: serif;
    text-align: center;
    font-weight: 500;
}

div .book__isbn {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

div .book__review {
    font-size: 1.5rem;
    text-align: center;

}

.book__isbn span,
.book__review span {
    color: brown;
    font-family: san-serif;
    font-weight: bold;
}

.card__edit{
    padding: 1rem;
    border: .15px solid palevioletred;
    width: 7.5rem;
    text-align: center;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out;
}

.card__edit:hover,
.card__edit:focus {
    cursor: pointer;
    transform: translateY(-3px);
}
.card__edit a{
    font-size: 1.4rem;
}